<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="key" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>